body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.container {
    border: solid 1px red;
}

.cuadrado {
    width: 200px;
    height: 200px;
    background-color: #7dc900;
    margin: 20px;
    border: solid 1px black;
    /* transition: 1s; */
    /* Nombre De La Animación */
    animation-name: cuadrado;
    /* Tiempo Animacion en segundos o en milisegundos */
    animation-duration: 3s;
    /* Cuanto tiempo quiero que se tarde en lanzarse la animacion o depues de que el usuario realice alguna accion */
    animation-delay: 1s;
    /* Cuantas Veces va a ocurrir la animación */
    /* animation-iteration-count: 2; */
    /* animation-iteration-count: infinite; */
    /* La Aceleracion o velocidad de mi animación*/
    animation-timing-function: ease;
    /* Curva */
    /* animation-timing-function: cubic-bezier(1, 1, 1, 1)
    ; */
    /* El orden como se va a mostrar en la pantalla mi animacion en este caso primero se hace invisible y luego visible por que le indicamos al contrario */
    /* animation-direction: reverse; */
    /* Animacion alternada */
    /* animation-direction: alternate; */
    /* Modo de fusion, es decir, cual es el valor final que va a tener mi animacion cuando esta se ejecute,
    es decir, como quiero que se vea mi elemento cuando termina la animacion */
    /* Mi animacion se quede con el valor final de mi keyframes */
    animation-fill-mode: forwards;
    /* Aqui mi animacion esta en play o esta en pausa 
    por defecto viene con running yo puedo controlar su estado */
    animation-play-state: paused;
}


/* Que voy hacer en un segundo que se llame cuadrado y ese segundo lo puedo dividir en multiples secciones */

@keyframes cuadrado {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

p {
    text-align: center;
    line-height: 155px;
}


/* .container:hover .cuadrado {} */