html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 5px;
    justify-content: center;
}

.item {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
}

.level-1 {
    grid-row-end: span 3;
}

.level-2 {
    grid-row-end: span 2;
}

.level-3 {
    grid-row-end: span 1;
}