/* ESTE CODIGO ESTA COMENTADO EN HTML
PORQUE LA MEJOR MANERA DE TRABAJAR CON GRID
ES UTILIZANDO LAS AREAS */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #e9ecf4;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.outside-content {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.outside-content>div,
.outside-content .header,
.outside-content .main-content,
.outside-content .sidebar,
.outside-content .footer {
    background: #ffffff;
    padding: 23px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.outside-content .header {
    background-color: #12203e;
    color: #ffffff;
    grid-column-start: 1;
    grid-column-end: -1;
}

.outside-content .main-content {
    grid-column: span 2;
}

.outside-content .sidebar {
    grid-column: 3 / 4;
    background: #faa43d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-row: span 2;
}

.outside-content .widget-1,
.outside-content .widget-2 {
    background: #55a8fd;
    color: #ffffff;
    height: 103px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outside-content .footer {
    background: #12203e;
    color: #ffffff;
    grid-column: 1 / 4;
}

@media screen and (max-width: 768px) {
    .outside-content .main-content {
        grid-column: 1 /-1;
    }
    .outside-content .sidebar {
        grid-column: 1 /-1;
    }
    .outside-content .widget-1 {
        grid-column: span 2;
    }
}