.contenedor {
    display: grid;
    grid-gap: 10px;
    height: 700px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* Alinear Contenido Horizontalmente */
    justify-content: normal;
    justify-content: start;
    justify-content: center;
    justify-content: end;
    justify-content: space-around;
    /* Los espacios iguales en todos los iguales */
    justify-content: space-evenly;
    justify-content: space-between;
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* Alinear Contenido Verticalmente */
    align-content: normal;
    align-content: start;
    align-content: center;
    align-content: end;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;
}