.contenedor {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 1fr 200px;
    grid-template-rows: 200px 100px 200px;
    /* ----------------------------------- */
    /* ----------------------------------- */
    /* ----------------------------------- */
    /* Filas Automaticas(Implicitas) van a tener un alto
    de 400pixeles */
    grid-auto-rows: 50px;
    /* Columnas Automaticas(Implicitas) van a tener un ancho
    de 600pixeles */
    /* grid-auto-columns: 600px; */
    /* ----------------------------------- */
    /* ----------------------------------- */
    /* ----------------------------------- */
    /* Me cambia la dirección de mi GRID
    por defecto viene para row, es decir, 
    para filas, es decir, los elementos
    de la grid implicita se va ir 
    agregando de abaja hacia abajo, es decir
    de forma vertical*/
    /* grid-auto-flow: row; */
    /* Con grid de column ya se van a ir
    agregando de forma horizontal de lado
    a lado los elementos de la grid 
    implicta */
    /* grid-auto-flow: column; */
    /* ----------------------------------- */
    /* ----------------------------------- */
    /* ----------------------------------- */
    /* Esta Propiedad Agrega una distribucion
    equitativa a los elementos donde exista
    un espacio en blanco y contengan las mismas
    medidas entre el elemento y la grid */
    grid-auto-flow: row dense;
    /* Funciona igual en la distribucion de los
    elementos, pero en direccion horizontal
    por que tiene en cuenta las columnas de la
    grid */
    /* grid-auto-flow: column dense; */
}

.contenedor .span2 {
    /* Este se aplica dense solo */
    grid-column: span 2;
    /* Este se aplica solo cuando es column dense */
    /* grid-row: span 2; */
    background-color: #ff8003;
}

.contenedor .span3 {
    /* Este se aplica dense solo */
    grid-column: span 3;
    /* Este se aplica solo cuando es column dense */
    /* grid-row: span 3; */
    background-color: #575755;
    color: #ffffff;
}