.pagina .footer {
    text-align: center;
    padding: 1rem;
    background-color: #221122;
    color: #ffffff;
}


/* LO QUE SE RECOMENDABA
ANTERIORMENTE, PERO NO FUNCIONA
POR QUE EL FOOTER SE SOBRE-ESCRIBE
EN EL CONTENIDO, EN EL CASO DE QUE 
ESTE CREZCA */


/* .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
} */